<html>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <div id="app">
            <ul>
                <li v-for="item,index in items":key="index">
                    {{index}}.{{item.message}}
                </li>
            </ul>
            <ul>
                <li v-for="value,key in object" :key="key">
                    {{key}}123123{{value}}
                </li>
            </ul>
        </div>
        <script>
            var vm = new Vue({
                el:"#app",
                data:{
                    items:[
                        {message:'Foo'},
                        {message:'Bar'}
                    ],
                    object:{
                        title:"VUE",
                        a:"WHO",
                        publishedAt:"TODAY"
                    }
                }
            })
        </script>
    </body>
</html>